



    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                <h1 class="mb-5">Dịch vụ của chúng tôi</h1>
            </div>
            <div class="row g-4">

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of listService | paginate: {itemsPerPage:10, currentPage: p}" >
                    <div class="service-item rounded pt-3" *ngIf="!ischeckNotList">
                        <div class="p-4" routerLink="/service/{{item.id}}">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 style="font-size: 20px;">Tên: {{item.name}}</h5>
                            <p>Mô tả: {{item.description}}</p>
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange) ="p =  $event" *ngIf="!ischeckNotList"></pagination-controls>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" *ngIf="ischeckNotList">
                     <h1>Thông tin chi tiết dịch vụ</h1>
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
  
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5>Tên dịch vụ: {{service.name}}</h5>
                            <p>Mô tả dịch vụ: {{service.description}}</p>
                            <p>Giá:  {{service.price}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Service End -->


        


    

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
