button.cart-button {
    position: relative;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  button.cart-button:hover {
    transform: scale(1.1);
  }
  
  .cart-icon {
    font-size: 24px;
  }
  
  span.badge {
    position: absolute;
    top: 13px;
    right: -8px;
    min-width: 20px;
    min-height: 20px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: #ff6f61; /* Màu đỏ sáng */
    color: #fff; /* Màu trắng */
  }
  

  button.favorite-button {
    position: relative;
  }



  .featured__item__pic__hover {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .featured__item__pic__hover li {
    margin-left: 10px; /* Khoảng cách giữa các nút */
  }
  
  .featured__item__pic__hover li::before {
    display: none; /* Ẩn dấu chấm đầu tiên của mỗi thẻ li */
  }
  
  