<h1>danh sách quan lý đánh giá</h1>
<div class="table-container">
    <div class="form-group">
        <label for="search-text"> Tìm kiếm theo từ khóa </label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="nhập từ khóa" 
          autofocus>
      </div>
  <div class="table-responsive">
    <table class="table custom-table m-0">
      <thead>
        <tr>
          <th>id </th>
          <th>Tên review</th>
          <th>Miêu tả review</th>
          <th>Số lượng đánh giá </th>
          <th>Tên tour được đánh giá</th>
          <th>Tài khoản đánh giá tour</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>&nbsp;</td>
          <td>
            74%<br /><small>of Total:<br />80.00% (10)</small>
          </td>
          <td>
            57%<br /><small>Avg for View:<br />90.00% (-16.67%)</small>
          </td>
          <td>
            32%<br /><small>Avg for View:<br />50.00% (70.00%)</small>
          </td>
          <td>&nbsp;</td>
        </tr> -->
        <tr
          *ngFor="
            let Review of listReview | searchFilter: searchText
              | paginate : { itemsPerPage: 9, currentPage: p };
          "
        >
          <td>{{ Review.id }}</td>
          <td>{{ Review.name }}</td>
          <td>{{ Review.description }}</td>
          <td>{{ Review.rating }} sao</td>
          <td *ngIf="Review.tours?.name != null">{{ Review.tours?.name }}</td>
          <td *ngIf="Review.tours?.name == null"></td>
          <td *ngIf="Review.user?.username != null">{{ Review.user?.username }}</td>
          <td *ngIf="Review.user?.username == null"></td>
          <td>
            <div class="td-actions">
              <a
                class="icon green"
                data-toggle="tooltip"
                data-placement="top"
                title="Save Row"
                (click)="openUpdate(Review)"
              >
                <i class="icon-save"></i>
              </a>
              <a
                class="icon blue"
                data-toggle="tooltip"
                data-placement="top"
                title="Delete Row"
                (click)="ondelete(Review)"
              >
                <i class="icon-cancel"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- show các fomr  -->

<!-- form điền thông tin -->
<div class="tour-details" *ngIf="showForm">
  <div class="field">
    <label for="name">Tên review</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="reviewForm.name"
      required
      autofocus
    />
  </div>

  <div class="field">
    <label for="name">Mô tả review</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="reviewForm.description"
      required
      autofocus
    />
  </div>

  <div class="field col">
    <label for="price">Số lượng đánh giá</label>
    <input type="number" id="price" [(ngModel)]="reviewForm.rating" />
  </div>

  <div class="field button-container">
    <button type="submit" *ngIf="onUpdate" (click)="updateService()">
      cập nhật tour
    </button>
    <button type="button" class="cancel-button" (click)="openNew()">
      thoát
    </button>
  </div>
</div>
<!-- end form điền thông tin -->

<p-dialog
  header="Xác nhận"
  [(visible)]="showFormDelete"
  [style]="{
    width: '30vw',
    'border-radius': '8px',
    'box-shadow': '0 0 10px 0 rgba(0, 0, 0, 0.1)',
    'background-color': '#333333',
    color: 'white'
  }"
  [modal]="true"
  [transitionOptions]="'.3s'"
  [baseZIndex]="10000"
>
  <div style="padding: 20px">
    <i class="pi pi pi-exclamation-triangle" style="font-size: 2rem"></i>
    <span class="ml-2"
      >Bạn có chắc xóa <span>{{ reviewForm.name }}</span
      >?</span
    >
  </div>
  <div class="flex justify-content-end mt-3" style="padding: 10px 20px">
    <p-button
      label="Yes"
      icon="pi pi-check"
      class="mr-2"
      (click)="deleteService()"
    ></p-button>
    <p-button
      label="No"
      icon="pi pi-times"
      (click)="showFormDelete = false"
    ></p-button>
  </div>
</p-dialog>
