



<h1>danh sách quan lý điểm đến</h1>
<div class="table-container">
    <div class="form-group">
        <label for="search-text"> Tìm kiếm theo từ khóa </label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="nhập từ khóa" 
          autofocus>
      </div>
    <div class="table-responsive">
        <table class="table custom-table m-0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Địa chỉ</th>
                    <th>Quốc gia</th>
                    <th>Gmail</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>PassWord</th>
                    <th>Số điện thoại </th>
                    <th>Tình trạng</th>
                    <th>Tài khoản</th>
                    <th>Quyền</th>
                    <th>Mã code</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>&nbsp;</td>
                    <td>74%<br><small>of Total:<br>80.00% (10)</small></td>
                    <td>57%<br><small>Avg for View:<br>90.00% (-16.67%)</small></td>
                    <td>32%<br><small>Avg for View:<br>50.00% (70.00%)</small></td>
                    <td>35.32<br><small>Avg for View:<br>2.70 (75.93%)</small></td>
                    <td>79<br><small>Avg for View:<br>0.00% (0.00%)</small></td>
                    <td>&nbsp;</td>
                </tr> -->
                <tr *ngFor="let users of listUser | searchFilter: searchText  | paginate : { itemsPerPage: 9, currentPage: p }">
                    <td>{{users.id}}</td>
                    <td>{{users.address}}</td>
                    <td>{{users.country}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.firstname}}</td>
                    <td>{{users.lastname}}</td>
                    <td>{{users.password}}</td>
                    <td>{{users.phone}}</td>
                    <td>{{users.state}}</td>
                    <td>{{users.username}}</td>
                    <td *ngFor="let role of users.roles">{{ role?.name }}</td>
                    <td>{{users.verificationCode}}</td>
                    <td *ngIf="users.image"><img src="{{'data:image/jpg;base64,' + users.image.data}}" alt="" class="w-full h-full"></td>
                    <td *ngIf="!users.image"></td>

                    <td>
                        <div class="td-actions">
                            <a class="icon red" data-toggle="tooltip" data-placement="top" title="Add Row" (click)="openNew()">
                                <i class="icon-circle-with-plus"></i>
                            </a>
                            <a class="icon green" data-toggle="tooltip" data-placement="top" title="Save Row" (click)="openUpdate(users)">
                                <i class="icon-save"></i>
                            </a>
                            <a class="icon blue" data-toggle="tooltip" data-placement="top" title="Delete Row" (click)="ondelete(users)">
                                <i class="icon-cancel"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>


<!-- show các fomr  -->





<!-- form điền thông tin -->
<div class="tour-details" *ngIf="showForm">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="UserForm.name" required autofocus />
    </div>
  
    
    <div class="field">
      <label for="status">Status</label>
      <textarea id="status" [(ngModel)]="UserForm.describe" required></textarea>
    </div>

    <div class="field">
        <label for="status">Status</label>
        <textarea id="status" [(ngModel)]="UserForm.province" required></textarea>
      </div>
      
    
   <button pButton type="button" class="p-button-success w-auto" (click)="onChooseImage()">Chọn ảnh</button>

  
    <div class="field">
      <button (click)="createUser()" type="submit" *ngIf="!onUpdate" >Tạo user mới</button>
      <button type="submit" *ngIf="onUpdate" (click)="updateUser()">cập nhật user</button>
      <button type="button" class="cancel-button" (click)="openNew()">thoát</button>
    </div>
  </div>
  <!-- end form điền thông tin -->



  <!-- file ảnh -->
  <div class="field">
    <div class="custom-dialog" *ngIf="showImage">
        <div class="dialog-header">
            <h3>Chọn ảnh</h3>
        </div>
        <div class="dialog-content">
            <div class="flex justify-content-between">
                <div>
                    <input type="file" #file (change)="uploadFile($event)" hidden>
                    <button (click)="file.click()" class="custom-button warning w-auto">Tải ảnh lên</button>
                </div>
                <div>
                    <button (click)="chooseImage()" class="custom-button primary w-auto" [disabled]="disabled">Chọn ảnh</button>
                    <button class="custom-button danger ml-2 w-auto" [disabled]="disabled">Xóa ảnh</button>
                </div>
            </div>
            <hr align="left">
            <div class="grid">
                <div class="col-4 list-image flex align-items-center" *ngFor="let image of listImage">
                    <img [src]="'data:image/jpg;base64,' + image.data" alt="" class="w-full h-full p-2 border-1" (click)="selectImage($event,image)">
                </div>
            </div>
        </div>
    </div>
    

    <div class="grid mt-1" *ngIf="listImageChoosen != null" style="display: flex; flex-direction: column;">
        <h1>Danh sách ảnh đã chọn</h1>
        <div style="width: 100%; display: flex;">
            <div class="tour-image col-2 flex align-items-center" *ngFor="let image of listImageChoosen" style="display: flex; justify-content: center; align-items: center; width: 250px; height: 200px;">
                <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full">
                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text delete-image" (click)="deleteImage(image)"></button>
            </div>
        </div>
    </div>
</div>
<!-- end file ảnh -->



<p-dialog 
    header="Xác nhận" 
    [(visible)]="showDelete" 
    [style]="{ 
        width: '30vw', 
        'border-radius': '8px', 
        'box-shadow': '0 0 10px 0 rgba(0, 0, 0, 0.1)',
        'background-color': '#333333',
        'color': 'white'
    }" 
    [modal]="true" 
    [transitionOptions]="'.3s'" 
    [baseZIndex]="10000">
    <div style="padding: 20px;">
        <i class="pi pi pi-exclamation-triangle" style="font-size: 2rem;"></i>
        <span  class="ml-2">Bạn có chắc xóa <span>{{ UserForm.name }}</span>?</span>
    </div>
    <div class="flex justify-content-end mt-3" style="padding: 10px 20px;">
        <p-button label="Yes" icon="pi pi-check" class="mr-2" (click)="deleteUser()"></p-button>
        <p-button label="No" icon="pi pi-times" (click)="showDelete=false"></p-button>
    </div>
</p-dialog>
