<h1>lịch sử Bookings</h1>
<div class="table-container">
    <div class="form-group">
        <label for="search-text"> Tìm kiếm theo từ khóa </label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="nhập từ khóa" 
          autofocus>
      </div>
  <div class="table-responsive">
    <table class="table custom-table m-0">
      <thead>
        <tr>
          <th>id </th>
          <th>Tên khách hàng đặt</th>
          <th>ngày đặt</th>
          <th>trạn thái</th>
          <th>danh sách tour đặt</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>&nbsp;</td>
          <td>
            74%<br /><small>of Total:<br />80.00% (10)</small>
          </td>
          <td>
            57%<br /><small>Avg for View:<br />90.00% (-16.67%)</small>
          </td>
          <td>
            32%<br /><small>Avg for View:<br />50.00% (70.00%)</small>
          </td>
          <td>&nbsp;</td>
        </tr> -->
        <tr
          *ngFor="
            let Review of listMyBookings | searchFilter: searchText
              | paginate : { itemsPerPage: 9, currentPage: p };
          "
        >
          <td>{{ Review.id }}</td>
          <td>{{ Review.customerName }}</td>
          <td>{{ Review.bookingDate }}</td>
          <td>{{ Review.status }}</td>
          <td >
        <div *ngFor="let item of Review.tours; let i = index">
            <p>tên tour thứ {{i+1}}:  {{item.name}}</p>
        </div>
        </td>
          <td *ngIf="Review.tours?.name == null"></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>



