

	<div  class="container" id="container">
	<div class="form-container sign-up-container">

		<form action="#">
			<h1>Tạo tài khoản</h1>
			<input type="text" placeholder="Username" [(ngModel)]="registerForm.username" name="username" autocomplete="off"/>
			<input type="email" placeholder="Email" [(ngModel)]="registerForm.email" name="email" autocomplete="off"/>
			<input autocomplete="off" type="password" placeholder="Password" [(ngModel)]="registerForm.password" name="password" />
			<button (click)="register()">Đăng Ký</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" >
			<h1>Đăng nhập</h1>
			<input type="text" placeholder="Username" [(ngModel)]="loginForm.username" name="username" autocomplete="off"/>
			<input type="password" placeholder="Password" [(ngModel)]="loginForm.password" name="password" autocomplete="off"/>
			<a href="javascript:void(0)">Quên mật khẩu?</a>
			<button (click)="login()">Đăng Nhập</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>chào mừng chở lại!</h1>
				<p>Để duy trì kết nối với chúng tôi vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
				<button class="ghost" id="signIn" (click)="loginFormChange()">đăng nhập</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>chào mừng, bạn!</h1>
				<p>hãy đăng ký nếu bạn chưa có tài khoản</p>
				<button class="ghost" id="signUp" (click)="registerFormChange()">đăng ký</button>
			</div>
		</div>
	</div>
</div>
